
<body>
	<nav class="navbar is-white topNav">
		<div class="container">
			<div class="navbar-brand">
				<div class="navbar-burger burger" data-target="topNav">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
			<div id="topNav" class="navbar-menu">
				<div class="navbar-start">
					<div class="navbar-item">
						<a href="/" class="label"><?php echo FORUM_NAME; ?></a>
					</div>
				</div>
				<div class="navbar-end">
					<div class="navbar-item">
						<div class="control has-icons-left">
							<span class="icon is-small is-left"><i class="fa fa-search"></i></span>
							<input class="input is-rounded" type="search" placeholder="Search forum...">
						</div>
					</div>
					<div class="navbar-item">
						<div class="field is-grouped">
							<?php if(isset($_SESSION["authenticated"]) && isset($_SESSION["nickname"])) {?>
							<div class="dropdown is-hoverable">
								<div class="dropdown-trigger">
									<button class="button is-light is-rounded has-text-grey" aria-haspopup="true" aria-controls="user-actions">
										<span class="icon is-small"><i class="fa fa-user"></i></span>
										<span><?php echo $_SESSION["nickname"]; ?></span>
										<span class="icon is-small">
											<i class="fa fa-angle-down" aria-hidden="true"></i>
										</span>
									</button>
								</div>
								<div class="dropdown-menu" id="user-actions" role="menu">
									<div class="dropdown-content">
										<a href="#" class="dropdown-item">My topics</a>
										<a href="#" class="dropdown-item">My posts</a>
										<hr class="dropdown-divider">
										<a href="#" class="dropdown-item">Logout</a>
									</div>
								</div>
							</div>
							<?php } else { ?>
							<p class="control">
								<a class="is-size-7" href="<?php echo Navigation::Get()->GetPage(PageList::Login)->Path; ?>">
									<span><?php echo Navigation::Get()->GetPage(PageList::Login)->Title; ?></span>
								</a>
							</p>
							<p class="control">
								<a class="is-size-7" href="<?php echo Navigation::Get()->GetPage(PageList::Register)->Path; ?>">
									<span><?php echo Navigation::Get()->GetPage(PageList::Register)->Title; ?></span>
								</a>
							</p>
							<?php } ?>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>
	<section class="hero is-link is-full-width">
		<div class="hero-body">
			<div class="container has-text-centered">
				<p class="field">
					<span>Choose a category for your topic</span>
					<span class="tag is-primary">Question</span>
					<span class="tag is-success">News</span>
					<span class="tag is-info">Release</span>
				</p>
			</div>
		</div>
	</section>
	<section class="container">
		<div class="columns">
			<div class="column is-2"></div>
			<div class="column is-8">
				<article class="media">
					<div class="media-content">
						<div class="field is-horizontal">
							<div class="field-label is-normal">
								<label class="label">Title</label>
							</div>
							<div class="field-body">
								<div class="field">
									<p class="control">
										<input class="input" type="text" placeholder="Thread title">
									</p>
								</div>
							</div>
						</div>
						<div class="field">
							<p class="control">
								<textarea class="textarea" placeholder="Add a comment..."></textarea>
							</p>
						</div>
						<div class="field">
							<p class="control is-expanded">
								<button class="button is-fullwidth is-link">Post</button>
							</p>
						</div>
					</div>
				</article>
			</div>
			<div class="column is-2"></div>
		</div>
	</section>