html,body {
  font-family: 'Open Sans', serif;
  background: #F2F6FA;
}
.topNav {
  border-top: 5px solid #3498DB;
}
.topNav .container {
  border-bottom: 1px solid #E6EAEE;
}
.container .columns {
  margin: .5rem 0;
}
aside.menu {
  padding-top: 1rem;
}
aside.menu .menu-label {
  font-weight: 700;
  margin-bottom: 0.5em;
}
.menu-list li, .menu-list ul {
  margin: 5px;
  font-size: 14px;
  line-height: 0.8;
}
.menu-list .is-active {
  font-weight: 700;
}
.button.is-alt {
  font-weight: 700;
  font-size: 14px;
}
.media-left img {
  border-radius: 50%;
}
.media-content p {
  font-size: 14px;
  line-height: 2.3;
  font-weight: 700;
  color: #8F99A3;
}
.box {
    padding: 0.75rem 1.25rem !important;
}
article.post {
  margin: 0rem 1rem;
  margin-top: -1.25rem;
  padding: 2.25rem 0rem 0.75rem 0rem;
  border-bottom: 1px solid #E6EAEE;
}
article.post:last-child {
  border-bottom: none;
}
.media-right .tag {
    margin-right: 0.5rem;
}