
<body>
	<nav class="navbar is-white topNav">
		<div class="container">
			<div class="navbar-brand">
				<div class="navbar-burger burger" data-target="topNav">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
			<div id="topNav" class="navbar-menu">
				<div class="navbar-start">
					<div class="navbar-item">
						<a href="/" class="label"><?php echo FORUM_NAME; ?></a>
					</div>
				</div>
				<div class="navbar-end">
					<div class="navbar-item">
						<div class="control has-icons-left">
							<span class="icon is-small is-left"><i class="fa fa-search"></i></span>
							<input class="input is-rounded" type="search" placeholder="Search forum...">
						</div>
					</div>
					<div class="navbar-item">
						<div class="field is-grouped">
							<?php if(isset($_SESSION["authenticated"]) && isset($_SESSION["nickname"])) {?>
							<div class="dropdown is-hoverable">
								<div class="dropdown-trigger">
									<button class="button is-light is-rounded has-text-grey" aria-haspopup="true" aria-controls="user-actions">
										<span class="icon is-small"><i class="fa fa-user"></i></span>
										<span><?php echo $_SESSION["nickname"]; ?></span>
										<span class="icon is-small">
											<i class="fa fa-angle-down" aria-hidden="true"></i>
										</span>
									</button>
								</div>
								<div class="dropdown-menu" id="user-actions" role="menu">
									<div class="dropdown-content">
										<a href="#" class="dropdown-item">My topics</a>
										<a href="#" class="dropdown-item">My posts</a>
										<hr class="dropdown-divider">
										<a href="#" class="dropdown-item">Logout</a>
									</div>
								</div>
							</div>
							<?php } else { ?>
							<p class="control">
								<a class="is-size-7" href="<?php echo Navigation::Get()->GetPage(PageList::Login)->Path; ?>">
									<span><?php echo Navigation::Get()->GetPage(PageList::Login)->Title; ?></span>
								</a>
							</p>
							<p class="control">
								<a class="is-size-7" href="<?php echo Navigation::Get()->GetPage(PageList::Register)->Path; ?>">
									<span><?php echo Navigation::Get()->GetPage(PageList::Register)->Title; ?></span>
								</a>
							</p>
							<?php } ?>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>
	<section class="container">
		<div class="columns">
			<div class="column is-10">
				<nav class="level is-mobile">
					<div class="level-left">
						<div class="level-item"><h1 class="title">Forums</h1></div>
					</div>
					<div class="level-right">
						<div class="columns">
							<?php if(isset($_SESSION["authenticated"]) && isset($_SESSION["nickname"])) {?>
							<div class="column">
								<a class="button is-warning is-rounded is-alt" href="#">Create a new category</a>
							</div>
							<?php } ?>
							<div class="column">
								<a class="button is-link is-rounded is-alt" href="<?php echo Navigation::Get()->GetPage(PageList::CreateThread)->Path; ?>">Start a discussion</a>
							</div>
						</div>
					</div>
				</nav>
				<div class="box content">
					<article class="post">
						<a class="has-text-grey-darker has-text-weight-bold">How can I make a bulma button go full width?</a>
						<div class="media">
							<div class="media-content">
								<div class="content">
									<p>
										<span class="icon is-small"><i class="fa fa-reply" aria-hidden="true"></i></span>
										<a href="#">@red</a> replied 40 minutes ago
									</p>
								</div>
							</div>
							<div class="media-right">
								<span class="has-text-grey-light"><i class="fa fa-comments"></i> 15</span>
							</div>
						</div>
					</article>
					<article class="post">
						<a class="has-text-grey-darker has-text-weight-bold">How can I make a bulma button go full width?</a>
						<div class="media">
							<div class="media-content">
								<div class="content">
									<p>
										<span class="icon is-small"><i class="fa fa-reply" aria-hidden="true"></i></span>
										<a href="#">@red</a> replied 40 minutes ago
									</p>
								</div>
							</div>
							<div class="media-right">
								<span class="has-text-grey-light"><i class="fa fa-comments"></i> 15</span>
							</div>
						</div>
					</article>
					<article class="post">
						<a class="has-text-grey-darker has-text-weight-bold">How can I make a bulma button go full width?</a>
						<div class="media">
							<div class="media-content">
								<div class="content">
									<p>
										<span class="icon is-small"><i class="fa fa-reply" aria-hidden="true"></i></span>
										<a href="#">@red</a> replied 40 minutes ago
									</p>
								</div>
							</div>
							<div class="media-right">
								<span class="has-text-grey-light"><i class="fa fa-comments"></i> 15</span>
							</div>
						</div>
					</article>
				</div>
			</div>
			<div class="column is-2">
				<aside class="menu">
					<p class="menu-label">General</p>
					<ul class="menu-list">
						<li><a>Dashboard</a></li>
						<li><a>Announcements</a></li>
					</ul>
					<p class="menu-label">Administration</p>
					<ul class="menu-list">
						<li><a>User Settings</a></li>
						<li>
							<a class="is-active">Manage Users</a>
							<ul>
								<li><a>View users</a></li>
								<li><a>Add a user</a></li>
							</ul>
						</li>
						<li><a>Invitations</a></li>
						<li><a>Authentication</a></li>
					</ul>
				</aside>
			</div>
		</div>
	</section>
