<body>
	<section class="hero is-fullheight">
		<div class="hero-body">
			<div class="container has-text-centered">
				<div class="column is-4 is-offset-4">
					<h3 class="title has-text-black">Login</h3>
					<hr class="login-hr">
					<p class="subtitle has-text-black">Please login to proceed.</p>
					<?php
					// Display an error message, if there is one
					// or an registration message, if there is one
					// NOTE: Displayed only once
					if(isset($_SESSION["error_message"])) {?>
					<article class="message is-danger">
						<div class="message-body">
					<?php
						echo $_SESSION["error_message"];
						unset($_SESSION["error_message"]);
					?>
						</div>
					</article>
					<?php
					} else if(isset($_SESSION["registration_message"])) {?>
					<article class="message is-success">
						<div class="message-body">
					<?php
						echo $_SESSION["registration_message"];
						unset($_SESSION["registration_message"]);
					?>
						</div>
					</article>
					<?php
					}?>
					<div class="box">
						<form method="post" action="<?php echo Navigation::Get()->GetCurrentPage()->Path; ?>">
							<!-- Email -->
							<div class="field">
								<div class="control has-icons-left">
									<input class="input is-large" name="email" type="email" placeholder="Email"<?php
									// If the user was redirected here from the registration page
									// then auto-fill the email field
									if(isset($_SESSION["email"])) {
										echo " value=\"" . $_SESSION["email"] . "\"";
									} else {
										echo " autofocus";
									}
									?>>
									<span class="icon is-small is-left"><i class="fa fa-envelope"></i></span>
								</div>
							</div>
							<!-- Password -->
							<div class="field">
								<div class="control has-icons-left">
									<input class="input is-large" name="password" type="password" placeholder="Password"<?php
									// If the user was redirected here from the registration page
									// then autofocus on the password, as the email is filled out
									// and unset the email session variable
									if(isset($_SESSION["email"])) {
										unset($_SESSION["email"]);
										echo " autofocus";
									}
									?>>
									<span class="icon is-small is-left"><i class="fa fa-lock"></i></span>
								</div>
							</div>
							<button class="button is-block is-info is-large is-fullwidth">Login <i class="fa fa-sign-in" aria-hidden="true"></i></button>
						</form>
					</div>
					<p class="has-text-grey">
						<a href="<?php echo Navigation::Get()->GetPage(PageList::Register)->Path; ?>"><?php echo Navigation::Get()->GetPage(PageList::Register)->Title; ?></a> &nbsp;·&nbsp;
						<a href="/reset.php">Forgot Password</a> &nbsp;·&nbsp;
						<a href="/faq.php">Need Help?</a>
					</p>
				</div>
			</div>
		</div>
	</section>