	<script>
	var check = function () {
		var password = document.getElementById("password").value;
		var password_confirm = document.getElementById("password_confirm").value;

		var valid_length =
			(password.length >= 8 && password.length <= 64) &&
			(password_confirm.length >= 8 && password_confirm.length <= 64);

		var match = (password == password_confirm && valid_length);
			
		document.getElementById("password").style.borderColor = match ? "#23d160" : "#ff3860";
		document.getElementById("password_confirm").style.borderColor = match ? "#23d160" : "#ff3860";
	}
	</script>
</body>
</html>
