<body>
	<section class="hero is-fullheight">
		<div class="hero-body">
			<div class="container has-text-centered">
				<div class="column is-4 is-offset-4">
					<h3 class="title has-text-black">Register</h3>
					<hr class="login-hr">
					<p class="subtitle has-text-black">Please register to proceed.</p>
					<?php
					if(isset($_SESSION["error_message"])) {?>
					<article class="message is-danger">
						<div class="message-body">
					<?php
						echo $_SESSION["error_message"];
						unset($_SESSION["error_message"]);
					?>
						</div>
					</article>
					<?php
					}
					?>
					<div class="box">
						<form method="post" action="<?php echo Navigation::Get()->GetCurrentPage()->Path; ?>">
							<!-- Email -->
							<div class="field">
								<div class="control has-icons-left">
									<input class="input is-large" name="email" type="email" placeholder="Email" autofocus="">
									<label for="email">Must contain 8-64 characters.</label>
									<span class="icon is-small is-left"><i class="fa fa-envelope"></i></span>
								</div>
							</div>
							<!-- Nickname -->
							<div class="field">
								<div class="control has-icons-left">
									<input class="input is-large" name="nickname" type="text" placeholder="Nickname">
									<label for="nickname">Must contain 4-32 ASCII-only characters.</label>
									<span class="icon is-small is-left"><i class="fa fa-user"></i></span>
								</div>
							</div>
							<!-- Password -->
							<div class="field">
								<div class="control has-icons-left">
									<input class="input is-large" id="password" name="password" type="password" placeholder="Password" onkeyup="check();">
									<label for="password">Must contain 8-64 characters.</label>
									<span class="icon is-small is-left"><i class="fa fa-lock"></i></span>
								</div>
							</div>
							<!-- Password confirm -->
							<div class="field">
								<div class="control has-icons-left">
									<input class="input is-large" id="password_confirm" type="password" placeholder="Confirm Password" onkeyup="check();">
									<span class="icon is-small is-left"><i class="fa fa-lock"></i></span>
								</div>
							</div>
							<button class="button is-block is-success is-large is-fullwidth">Register <i class="fa fa-sign-in" aria-hidden="true"></i></button>
						</form>
					</div>
					<p class="has-text-grey">
						<a href="<?php echo Navigation::Get()->GetPage(PageList::Login)->Path; ?>"><?php echo Navigation::Get()->GetPage(PageList::Login)->Title; ?></a> &nbsp;·&nbsp;
						<a href="/reset.php">Forgot Password</a> &nbsp;·&nbsp;
						<a href="/faq.php">Need Help?</a>
					</p>
				</div>
			</div>
		</div>
	</section>