
<body>
	<nav class="navbar is-white topNav">
		<div class="container">
			<div class="navbar-brand">
				<div class="navbar-burger burger" data-target="topNav">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
			<div id="topNav" class="navbar-menu">
				<div class="navbar-start">
					<div class="navbar-item">
						<a href="/" class="label"><?php echo FORUM_NAME; ?></a>
					</div>
				</div>
				<div class="navbar-end">
					<div class="navbar-item">
						<div class="control has-icons-left">
							<span class="icon is-small is-left"><i class="fa fa-search"></i></span>
							<input class="input is-rounded" type="search" placeholder="Search forum...">
						</div>
					</div>
					<div class="navbar-item">
						<div class="field is-grouped">
							<?php if(isset($_SESSION["authenticated"]) && isset($_SESSION["nickname"])) {?>
							<div class="dropdown is-hoverable">
								<div class="dropdown-trigger">
									<button class="button is-light is-rounded has-text-grey" aria-haspopup="true" aria-controls="user-actions">
										<span class="icon is-small"><i class="fa fa-user"></i></span>
										<span><?php echo $_SESSION["nickname"]; ?></span>
										<span class="icon is-small">
											<i class="fa fa-angle-down" aria-hidden="true"></i>
										</span>
									</button>
								</div>
								<div class="dropdown-menu" id="user-actions" role="menu">
									<div class="dropdown-content">
										<a href="#" class="dropdown-item">My topics</a>
										<a href="#" class="dropdown-item">My posts</a>
										<hr class="dropdown-divider">
										<a href="#" class="dropdown-item">Logout</a>
									</div>
								</div>
							</div>
							<?php } else { ?>
							<p class="control">
								<a class="is-size-7" href="<?php echo Navigation::Get()->GetPage(PageList::Login)->Path; ?>">
									<span><?php echo Navigation::Get()->GetPage(PageList::Login)->Title; ?></span>
								</a>
							</p>
							<p class="control">
								<a class="is-size-7" href="<?php echo Navigation::Get()->GetPage(PageList::Register)->Path; ?>">
									<span><?php echo Navigation::Get()->GetPage(PageList::Register)->Title; ?></span>
								</a>
							</p>
							<?php } ?>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>
	<section class="hero is-link is-full-width">
		<div class="hero-body">
			<div class="container has-text-centered">
				<h1 class="title">How can I make a bulma button go full width?</h1>
				<h2 class="subtitle"><span class="tag is-warning">Question</span></h2>
			</div>
		</div>
	</section>
	<section class="container">
		<div class="columns">
			<div class="column is-2"></div>
			<div class="column is-8">
				<div class="content">
					<article class="media">
						<div class="media-content">
							<div class="content">
								<div class="field">
									<a href="#" class="post-title">Barbara Middleton</a>
									<p class="post-small is-inline">14:33PM 22.01.2019.</p>
								</div>
								<div class="field post-body">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.</p>
								</div>
								<div class="field is-grouped is-grouped-right">
									<p class="control"><a class="post-small">Reply</a></p>
									<?php if(isset($_SESSION["authenticated"]) && isset($_SESSION["nickname"])) {?>
									<p class="control"><a class="post-small has-text-danger">Delete</a></p>
									<?php } ?>
								</div>
							</div>
						</div>
					</article>
					<article class="media">
						<div class="media-content">
							<div class="content">
								<div class="field">
									<a href="#" class="post-title">Barbara Middleton</a>
									<p class="post-small is-inline">14:33PM 22.01.2019.</p>
								</div>
								<div class="field post-body">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.</p>
								</div>
								<div class="field is-grouped is-grouped-right">
									<p class="control">
										<a class="post-small">Reply</a>
									</p>
									<?php if(isset($_SESSION["authenticated"]) && isset($_SESSION["nickname"])) {?>
									<p class="control">
										<a class="post-small has-text-danger">Delete</a>
									</p>
									<?php } ?>
								</div>
							</div>
						</div>
					</article>
					<article class="media">
						<div class="media-content">
							<div class="content">
								<div class="field">
									<a href="#" class="post-title">Barbara Middleton</a>
									<p class="post-small is-inline">14:33PM 22.01.2019.</p>
								</div>
								<div class="field post-body">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.</p>
								</div>
								<div class="field is-grouped is-grouped-right">
									<p class="control">
										<a class="post-small">Reply</a>
									</p>
									<?php if(isset($_SESSION["authenticated"]) && isset($_SESSION["nickname"])) {?>
									<p class="control">
										<a class="post-small has-text-danger">Delete</a>
									</p>
									<?php } ?>
								</div>
							</div>
						</div>
					</article>
					<article class="media">
						<div class="media-content">
							<div class="field">
								<p class="control">
									<textarea class="textarea" placeholder="Add a comment..."></textarea>
								</p>
							</div>
							<div class="field">
								<p class="control is-expanded">
									<button class="button is-fullwidth is-link">Post comment</button>
								</p>
							</div>
						</div>
					</article>
				</div>
			</div>
			<div class="column is-2"></div>
		</div>
	</section>