html, body {
  font-family: system-ui,-apple-system,BlinkMacSystemFont,segoe ui,Ubuntu,Cantarell,Oxygen,Roboto,Helvetica,Arial,sans-serif;
  color: #111;
}
.topNav {
  border-top: 5px solid #3498DB;
}
.topNav .container {
  border-bottom: 1px solid #E6EAEE;
}
.container .columns {
  margin: 1rem 0;
}
aside.menu {
  padding-top: 1rem;
}
aside.menu .menu-label {
  font-weight: 700;
  margin-bottom: 0.5em;
}
.menu-list li, .menu-list ul {
  margin: 5px;
  font-size: 14px;
  line-height: 0.8;
}
.menu-list .is-active {
  font-weight: 700;
}
.button.is-link.is-alt {
  font-weight: 700;
  font-size: 14px;
}
.media-left img {
  border-radius: 50%;
}
.media-content {
  margin-top: 5px;
  line-height: 1.7;
}
.media-content p {
  font-size: 14px;
}
.media-right .tag {
  margin-right: 0.5rem;
}
.media-content .post-title {
  color: #111;
  font-weight: 700 !important;
  margin-right: 5px;
}
.media-content .post-small {
  color: #667d99;
  font-size: 13px;
}
.media-content .post-body {
  margin-bottom: 5px;
}
.box {
  padding: 0.75rem 1.25rem !important;
}